docker.enabled = true

process{
    tag={ sample_name }
    echo = true
}

report.enabled=true

profiles {
    x86 {
        includeConfig 'conf/x86.conf'
    }
    arm{
        includeConfig 'conf/arm.conf'
    }
    local{
        includeConfig 'conf/local.conf'
    }
    indocker{
        includeConfig 'conf/docker.conf'
    }
}