docker.enabled = true

process{
    tag={ sample_name }
    echo = true
}

report.enabled=true

mail {
    from = 'system@decodegenomics.com'
    smtp.host = 'smtp.decodegenomics.com'
    smtp.port = 25
    smtp.user = 'system@decodegenomics.com'
    smtp.password = 'T8SFuUg2'
    smtp.auth = true
}

profiles {
    x86 {
        includeConfig 'conf/x86.conf'
    }
    arm{
        includeConfig 'conf/arm.conf'
    }
    local{
        includeConfig 'conf/local.conf'
    }
}